<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Saigon In Spirit</h5>
        <ul class="list-unstyled">
          <li>Tel: (+84)-246261 5152</li>
          <li>Mobile: (+84) 976 198 761</li>
          <li>Email: contact@journeyvietnam.com</li>
          <li>Skype: saigoninspirit</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div style="text-align: center;">
          <img style="width: 150px;" src="image/catalog/logo_big.png" title="Saigon In Spirit" alt="Saigon In Spirit" class="">
        </div>
        <ul class="list_social">
          <li><a href="#"><span class="social"></span></a></li>
          <li><a href="#"><span class="social"></span></a></li>
          <li><a href="#"><span class="social"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="full" id="copy_right">
  Copyright © 2017 <a href="http://saigoninspirit.com" title="">Saigon In Spirit</a>.
</div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>